<!DOCTYPE html>
<html>
  <head>
    <title>ESports</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-[#121214] bg-galaxy bg-no-repeat bg-cover">
    <header class="flex items-center justify-center py-20">
      <%= load_svg("logo.svg") %>
    </header>
    <main class="container mx-auto h-full w-full flex items-center justify-center">
      <h1 class="text-6xl font-black text-white">
        Seu <span class="bg-primary-gradient bg-clip-text text-transparent">duo</span> está aqui.
      </h1>
      
      <%= yield %>
    </main>
  </body>
</html>
